@tailwind base;
@tailwind components;
@tailwind utilities;

#inicio {
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/dulce\ de\ leche\ producto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: contrast(40%);
}
